body {
  background-color: black;
  color: white;
  text-align: center;
}

/*Headings*/
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 42px;
  font-weight: 300;
}

/*Links & Text*/
a {
  color: aquamarine;
  font-size: 16px;
}

.travel-text {
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 21px;
}

/*Footer*/
.trademark {
  color: gray;
  text-align: right;
}
